<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jdbc</display-name>
  <welcome-file-list>
   
    <welcome-file>welcome.jsp</welcome-file>
    
  </welcome-file-list>
  
   <servlet>
		<servlet-name>CityServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>CityServlet</servlet-name>
		<url-pattern>/city_servlet</url-pattern>

	</servlet-mapping>
	 <servlet>
		<servlet-name>CountryServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.CountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>CountryServlet</servlet-name>
		<url-pattern>/country_servlet</url-pattern>

	</servlet-mapping>
	
	<servlet>
		<servlet-name>Page2Servlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.Page2Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>Page2Servlet</servlet-name>
		<url-pattern>/page2_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>Page1Servlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.Page1Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>Page1Servlet</servlet-name>
		<url-pattern>/page1_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCityServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.DeleteCityServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>DeleteCityServlet</servlet-name>
		<url-pattern>/deletecity_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateCityServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.UpdateCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>UpdateCityServlet</servlet-name>
		<url-pattern>/updatecity_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateCityFormServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.UpdateCityFormServlet</servlet-class>
  </servlet>
   <servlet-mapping>
		<servlet-name>UpdateCityFormServlet</servlet-name>
		<url-pattern>/updatecityform_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>AddCityFormServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.AddCityFormServlet</servlet-class>
  </servlet>
   <servlet-mapping>
		<servlet-name>AddCityFormServlet</servlet-name>
		<url-pattern>/addcityform_servlet</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>AddCityServlet</servlet-name>
		<servlet-class>it.objectmethods.esercizi.servlet.AddCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>AddCityServlet</servlet-name>
		<url-pattern>/addcity_servlet</url-pattern>

	</servlet-mapping>
  
</web-app>